
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(29, 54, 138);
    overflow: hidden;
}


a {
    padding-top: 5rem;
}

.app { 
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    height: 80px;
    width: 300px;
    overflow: hidden;
}
.error {
    display: none;
    justify-content: center;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 1rem;
    
    
}
.search-bar i {
    font-size: 2rem;
    color: rgb(30, 30, 30);
}
.search-bar input {
    border: 0;
    outline: none;
    font-size: 1rem;
    text-transform: uppercase;
    padding-left: 15px;
}
.search-bar button {
    font-size: 1.5rem;
    border-radius: 100px;
    color: rgb(30, 30, 30);
    background: rgb(214, 239, 255);
    height: 3rem;
    width: 3rem;
    border: 0;
    outline: none;
}
.search-bar button:hover {
    color: rgb(214, 220, 255);
    background:  rgb(30, 30, 30);
}
.weather-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 1.5rem;
}

.weather-box img {
    width: 40%;
}

.weather-details {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.humidity, .wind {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.weather-details i {
    font-size: 2rem;
    color: rgba(30, 30, 30);
    padding: 5px;
    margin-bottom: auto;
    
}
.weather-details section {
    font-size: 22px;
}

.weather-details p {
    margin-top: auto;
    font-size: 16px;
    font-weight: 500;
}



